body {
  font-family: sans-serif;
  background: #111;
  color: white;
  padding: 20px;
  direction: rtl;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #00f7ff;
  text-decoration: none;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product {
  background: #222;
  border-radius: 20px;
  padding: 15px;
}

button {
  background-color: #00f7ff;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}
